@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.navbar {
  animation: slide-down 0.5s ease-in-out 1;
  transform-origin: top;
}

@keyframes slide-down {
  0% {
    transform: scaleY(0);
  }

  90% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

.product {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 2rem;
}

@media (min-width: 768px) {
  .product {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
}

body {
  background-color: #f6f6f6;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 2rem;
}